# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache
.cache

# pyenv
.python-version

# Coverage reports
.coverage
*.coveragerc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.setup

# IDE
.vscode/

# Network Save and Recover
.nsr
